@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@200,400;700&family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
}

p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.45em;
    font-weight: 700;
}

h4 {
    font-size: 1.5em;
    font-weight: 700;
}

h5 {
    font-size: 1.25em;
    font-weight: 700;
}

h6 {
    font-size: 1em;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 1;
    max-width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 100%;
    height: auto;
}

.name {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location img {
    margin-right: 10px;
}

.location span {
    font-size: 16px;
    line-height: 1.5;
}

.available {
    font-size: 14px;
    color: #888;
}

.about {
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.project:last-child {
    border-bottom: none;
}

.project-title {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.project-link {
    color: #007bff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.project-tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #e9ecef;
    color: #495057;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tabs button {
    background-color: #f4f7fa;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tabs button.active {
    background-color: #007bff;
    color: #fff;
}

.tabs button:hover {
    background-color: #0056b3;
    color: #fff;
}

.contentDesc a {
    display: inline-block;
    background-color: #e9ecef;
    color: #495057;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.contentDesc a:hover {
    background-color: #007bff;
    color: #fff;
}

.contentDesc a::before {
    content: "Leer en: ";
    font-weight: bold;
    margin-right: 5px;
    color: #007bff;
  }
  
  .contentDesc a {
    display: inline-block;
    background-color: #e9ecef;
    color: #495057;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
  }
  
  .contentDesc a::after {
    content: "🔗"; 
    font-size: 12px;
    margin-left: 5px;
  }
  
  .contentDesc a:hover {
    background-color: #007bff;
    color: #fff; /* Cambia el color a blanco para que contraste con el fondo azul */
  }
  
  .contentDesc a:hover::before {
    color: #fff; /* Cambia el color de "Leer en:" a blanco en el hover */
  }
  
  .contentDesc a:hover::after {
    color: #fff; /* Cambia el color del ícono de enlace a blanco en el hover */
  }
  

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar,
    .content {
        max-width: 100%;
    }

    .sidebar {
        text-align: left;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    
    .profile-pic {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .profile-pic img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    .name-location {
        display: flex;
        flex-direction: column;
    }
    
    .name {
        font-size: 18px;
        margin: 0;
    }
    
    .location {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-top: 5px;
    }
    
    .location img {
        width: 15px;
        margin-right: 5px;
    }
}
